# oxocarbon theme ported to kitty, https://github.com/hbjydev/oxocarbon-kitty
# originally made by nyoom, https://github.com/nyoom-engineering/oxocarbon

foreground #{{ base04 }}
background #{{ base00 }}
selection_foreground #{{ base05 }}
selection_background #{{ base03 }}

cursor #{{ base05 }}
cursor_text_color #{{ base02 }}

url_color #{{ base0A }}
url_style single

active_border_color #{{ base0A }}
inactive_border_color #{{ base0C }}

bell_border_color #{{ base0A }}

wayland_titlebar_color system
macos_titlebar_color system

active_tab_foreground #{{ base00 }}
active_tab_background #{{ base0A }}
inactive_tab_foreground #{{ base04 }}
inactive_tab_background #{{ base02 }}
tab_bar_background #{{ base00 }}

color0 #{{ base01 }}
color8 #{{ base02 }}

color1 #{{ base0C }}
color9 #{{ base0C }}

color2  #{{ base0D }}
color10 #{{ base0D }}

color3  #{{ base0F }}
color11 #{{ base0F }}

color4  #{{ base0B }}
color12 #{{ base0B }}

color5  #{{ base0A }}
color13 #{{ base0A }}

color6  #{{ base08 }}
color14 #{{ base08 }}

color7  #{{ base04 }}
color15 #{{ base06 }}

# vim:ft=conf
